<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../styles/main/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <script src="/scripts/script.js" defer></script>
    <title>
        <%- title %> | Produtos
    </title>
</head>
<body>
    <section class="main-container">
        <%- include('parts/header') %>
    </section>
    <div class="product-section" style="width: 100%;">
    </div>
    <div class="modal-box">
        <%- include('parts/modal') %>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
</body>