<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="refresh" content="3; /home" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../assets/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../styles/_redirect.scss">
    <title> Redirecionando... </title>

</head>

<body>
    <div class="img">
        <svg width="500" height="500" viewBox="0 0 500 500" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_i_15_2)">
            <rect id="shape" x="268.309" width="354.5" height="354.5" rx="25" transform="rotate(49.1887 268.309 0)" stroke="url(#paint0_linear_15_2)" stroke-width="10"/>
            </g>
            <path d="M284.691 257.653C290.41 257.653 295.442 254.526 298.035 249.796L325.332 200.291C328.154 195.257 324.494 189.002 318.698 189.002H205.848L198.68 173.746H173.746V189.002H188.996L216.447 246.898L206.153 265.51C200.586 275.731 207.906 288.165 219.497 288.165H310.997V272.909H219.497L227.884 257.653H284.691ZM213.091 204.258H305.736L284.691 242.397H231.163L213.091 204.258ZM219.497 295.793C211.109 295.793 204.323 302.658 204.323 311.048C204.323 319.439 211.109 326.304 219.497 326.304C227.884 326.304 234.747 319.439 234.747 311.048C234.747 302.658 227.884 295.793 219.497 295.793ZM295.747 295.793C287.36 295.793 280.573 302.658 280.573 311.048C280.573 319.439 287.36 326.304 295.747 326.304C304.135 326.304 310.997 319.439 310.997 311.048C310.997 302.658 304.135 295.793 295.747 295.793Z" fill="url(#paint1_linear_15_2)"/>
            <defs>
            <filter id="filter0_i_15_2" x="5.26044" y="5.26038" width="489.479" height="493.479" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset dy="10"/>
            <feGaussianBlur stdDeviation="2"/>
            <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
            <feBlend mode="normal" in2="shape" result="effect1_innerShadow_15_2"/>
            </filter>
            <linearGradient id="paint0_linear_15_2" x1="445.559" y1="0" x2="445.559" y2="354.5" gradientUnits="userSpaceOnUse">
            <stop stop-color="#020C23"/>
            <stop offset="0.625" stop-color="#0085FF"/>
            <stop offset="1" stop-color="#091126"/>
            </linearGradient>
            <linearGradient id="paint1_linear_15_2" x1="250.025" y1="173.746" x2="250.025" y2="326.304" gradientUnits="userSpaceOnUse">
            <stop stop-color="#020C23"/>
            <stop offset="0.65625" stop-color="#0085FF"/>
            <stop offset="1" stop-color="#091126"/>
            </linearGradient>
            </defs>
            </svg>
            
            
    </div>
</body>

</html>