<nav>
    <ul class="menu">
        <li>
            <a href="/dashboard">
                <span class="material-icons-round">
                    space_dashboard
                </span>
                <p>Dashboard</p>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="material-icons-round">
                    sell
                </span>
                <p>Vendas</p>
            </a>
        </li>
    </ul>
</nav>