<div class="middle-header">
    <div class="search-wrapper">
        <input id="productListSearch" type="search" placeholder="Digite o nome, categoria ou código de barras do produto" />
    </div>
</div>