$blueButton: rgb(9, 39, 138);
$blueHeader: rgb(10, 60, 223);
$darkerBlue: rgba(4, 18, 71, 0.5);
$darkestBlue: rgb(4, 18, 71);
$navBar: rgb(1, 8, 73);
$red: rgb(255, 0, 0);
$softSilver: rgb(225, 225, 225);
$background: rgb(244, 247, 250);
$white: rgb(255, 255, 255);
$smallText: rgb(156, 156, 156);

/*Drop-shadow*/
$cardDropShadow: rgba(0,0,0,.125);
$headerDropShadow: rgba(0, 0, 0, 0.75);
$modalDropShadow:rgba(0,0,0,.25);
$redirectDropShadow:rgba(0, 0, 0, 0.2);

$modalBackground: rgba(0,0,0,.75);